.navbar {
  position: fixed;
  /* top: 0; */
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #111; */
  z-index: 1;
}
.nav__black {
  background-color: #111;
  transition: 0.5s ease-in;
}

.nav__logo {
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  width: 30px;
  object-fit: contain;
  right: 20px;
}
